{% extends "FrontendWebBundle::layout.html.twig" %}

{% block content %}
        <div id="content">
            <div id="slot-1">
                <div class="search">
                    <div class="tab-1">Réserver maintenant</div>
                    <form action="{{ path("FrontendWebBundle_search_result") }}" method="post">
                        <div class="row-radio">
                            {{ form_widget(search_form.withReturn[0]) }}
                            <label for="searchForm_withReturn_0">Aller simple</label>
                        </div>

                        <div class="row-radio"> 
                            {{ form_widget(search_form.withReturn[1]) }}
                            <label for="searchForm_withReturn_1">Aller retour</label>
                        </div>                        
                        
                        <div class="row-sep">&nbsp;</div>                            
                            
                        <div class="row">
                            <label>De</label>
                            {{ form_widget(search_form.airportDeparture) }}
                        </div>

                        <div class="row">
                            <label for="searchForm_dateDeparture">Départ</label>
                            {{ form_widget(search_form.dateDeparture, {'attr': {'class': 'datepicker', 'readonly': 'readonly'}}) }}
                            <img id="departure-img" src="{{ asset('img/calendrier.png') }}" alt="Calendrier" />
                        </div>
                            
                        <div class="row">
                            <label>Vers</label>
                            {{ form_widget(search_form.airportArrival) }}
                        </div>

                        <div class="row">
                            <label for="searchForm_dateArrival">Retour</label>
                            {{ form_widget(search_form.dateArrival, {'attr': {'class': 'datepicker', 'readonly': 'readonly'}}) }}
                            <img id="return-img" src="{{ asset('img/calendrier.png') }}" alt="Calendrier" />
                        </div>
                        
                        <div class="row-sep">&nbsp;</div>                            
                        
                        <div class="row-select">
                            <label>Adultes</label>
                            {{ form_widget(search_form.adults) }}
                        </div>
                            
                        <div class="row-select">
                            <label>Enfants <small>(2-11 ans)</small></label>
                            {{ form_widget(search_form.children) }}
                        </div>

                        <div class="row-select">
                            <label>Bébés <small>(< 2 ans)</small></label>
                            {{ form_widget(search_form.babies) }}
                        </div>
                        
                        <div class="row-info">
                            <label>Tous les prix sont en (€)</label>    
                        </div>
                        
                        <div class="row-submit">
                            <input type="image" src="{{ asset("img/rechercher_btn.png") }}" />
                        </div>
                        
                        {{ form_rest(search_form) }}
                    </form>
                </div>
                <div class="search-picture">
                    <img src="{{ asset("img/promo_ete.jpg") }}" alt="" />
                </div>
            </div>
            <div id="slot-2">
                <p class="villes">
                    <img src="{{ asset("img/villes.png") }}" alt="" />
                </p>                
            </div>
            
            <div id="slot-3">
                <div class="newsletter">
                    <img src="{{ asset("img/newsletter.png") }}" alt="" />
                    <img src="{{ asset("img/newsletter_icon.png") }}" alt="" />
                    <p>Recevez nos dernières promotions & infos exclusifs</p>
                    <form>
                        <input id="email" type="input" name="email" />
                        <input type="image" src="{{ asset("img/newsletter_btn.png") }}" />
                    </form>
                </div>
                <div class="offre-1">
                    <img src="{{ asset("img/offre_hotel.png") }}" alt="" />
                </div>
                <div class="offre-2">
                    <img src="{{ asset("img/offre_location.png") }}" alt="" />
                </div>
                <div class="offre-3">
                    <img src="{{ asset("img/offre_croisiere.png") }}" alt="" />
                </div>
            </div>            
        </div>    
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset("css/blitzer/jquery-ui-1.8.16.custom.css") }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/jquery-1.6.2.min.js") }}"></script>
    <script src="{{ asset("js/jquery-ui-1.8.16.custom.min.js") }}"></script>
    <script>
	$(function() {            
            $(".datepicker").datepicker({dateFormat:'dd/mm/yy'});
            $("#departure-img").click(function (){$("#searchForm_dateDeparture").focus();});
            $("#return-img").click(function (){$("#searchForm_dateArrival").focus();});
	});
    </script>    
{% endblock %}