<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Title</title>
    <link href="{{ asset("css/base.css") }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset("css/admin.css") }}" rel="stylesheet" type="text/css" />
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div id="wrapper">
        {% block header %}
        <div id="header">
            <ul class="menu">
                <li><a href="{{ path('BackendAdminBundle_homepage') }}" class="button">{{ 'Home'|trans }}</a></li>
                <li><a href="{{ path('BackendAdminBundle_profile_index') }}" class="button">{{ 'Profile'|trans }}</a></li>
                <li><a href="{{ path('BackendAdminBundle_reservation_index') }}" class="button">{{ 'Reservation'|trans }}</a></li>
                <li><a href="{{ path('BackendAdminBundle_client_index') }}" class="button">{{ 'Client'|trans }}</a></li>
                <li><a href="{{ path('BackendAdminBundle_vols_index') }}" class="button">{{ 'Vols'|trans }}</a></li>
                <li><a href="{{ path('BackendAdminBundle_airoport_index') }}" class="button">{{ 'Airoport'|trans }}</a></li>
            </ul>
        </div>
        {% endblock %}
            
        {% block content %}{% endblock %}
            
        <div id="footer">
            
        </div>
    </div>

    {% block javascripts %}{% endblock %}        
</body>
</html>
