{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block content %}
<div id="content">
    <h1>Airoport</h1>
    
    <a href="{{ path('BackendAdminBundle_airoport_new') }}">{{ 'New'|trans }}</a>
    
    <table>
        <tr>
            <th>#</th>
            <th>{{ pager_sort('Id', 'a.id')|raw }}</th>
        </tr>
    
        {% for airoport in pager %}
        <tr>
            <td>{{ airoport.id }}</td>
            <td>{{ airoport.id }}</td>
        </tr>
        {% endfor %}
    </table>
    
    {{ pager_pagination(pager, 'BackendCoreBundle:Pager:sliding.html.twig')|raw }}      
</div>
{% endblock %}