{% extends "FrontendWebBundle::layout.html.twig" %}

{% block content %}
<div class="content">
    <div class="sidebar-left">
        <div class="title">{{ 'Details'|trans }}</div>
        <div class="vols-details">
            
        </div>
    </div>

    <div class="sidebar-right">
        {% if departure.nbResults > 0 %}
            <div class="airport-infos">
                {{ departure.currentPageResults[0].aeroportDepart.aeroport }}
                -
                {{ departure.currentPageResults[0].aeroportArrivee.aeroport }}
            </div>
            <div class="list-results">
                {% for vols in departure %}
                    <div id="item-{{ vols.id }}" class="item">
                        <ul>
                            <li class="title">{{ vols.dateDepart|date('d/m/Y') }}</li>
                            <li class="price">{{ vols.tarifs[0].tarifAdulte }} {{ param('currency') }}</li>
                        </ul>                     
                    </div>
                    <div id="vols-details-item-{{ vols.id }}" style="display: none;">
                        <ul class="vols-details-list">
                            <li>
                                <label>{{ 'Date depature'|trans }}:</label> 
                                <span>{{ vols.dateDepart|date('d/m/Y') }}</span>
                            </li>
                            <li>
                                <label>{{ 'Hour departue'|trans }}:</label> 
                                <span>{{ vols.heureDepart|date('H:i') }}</span>
                            </li>
                            <li>
                                <label>{{ 'Date arrival'|trans }}:</label> 
                                <span>{{ vols.dateArive|date('d/m/Y') }}</span>
                            </li>
                            <li>
                                <label>{{ 'Hour arrival'|trans }}:</label> 
                                <span>{{ vols.heureArivee|date('H:i') }}</span>
                            </li>
                            <li>
                                <label>{{ 'Adults price'|trans }}:</label> 
                                <span class="adults-price">{{ vols.tarifs[0].tarifAdulte|default('&nbsp;')|raw }} {{ param('currency') }}</span>
                            </li>
                            <li>
                                <label>{{ 'Children price'|trans }}:</label> 
                                <span class="children-price">{{ vols.tarifs[0].tarifEnfant|default(vols.tarifs[0].tarifAdulte)|raw }} {{ param('currency') }}</span>
                            </li>
                            <li>
                                <label>{{ 'Babies price'|trans }}:</label> 
                                <span class="babies-price">{{ vols.tarifs[0].tarifBebe|default(vols.tarifs[0].tarifAdulte)|raw }} {{ param('currency') }}</span>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
    </div>
    {#
    <div class="airport-infos">
        {{ departure.currentPageResults[0].aeroportArrivee.aeroport }}
        -
        {{ departure.currentPageResults[0].aeroportDepart.aeroport }}
    </div>
    <div class="list-results">
        {% for vols in arrival %}
            <div class="item">
                <input type="radio" name="vols[return]" value="{{ vols.id }}" />
                <ul>
                    <li>{{ vols.dateDepart|date('d/m/Y') }}</li>
                    <li>{{ vols.tarifs[0].tarifAdulte }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>
    #}
    <div class="sidebar-right" style="margin-top: 10px; border: 0px;">
        <table class="table">
            <tr>
                <th>Passagers</th>
                <th>Nombre</th>
                <th>Prix</th>
                <th>Total</th>            
            </tr>
            {% for passager_infos in list_passagers %}
            <tr>
                <td>{{ passager_infos['type'] }}</td>
                <td class="number-{{ passager_infos['type'] }} number">{{ passager_infos['number'] }}</td>
                <td class="price-{{ passager_infos['type'] }} number"></td>
                <td class="total-{{ passager_infos['type'] }} number"></td>            
            </tr>                
            {% endfor %}            
        </table>
    </div>    
    <div class="sidebar-right" style="text-align: right; border: 0px; background-color: #fff;">
        <label>TOTAL: <span class="total"></span></label>
    </div>        
    <div class="sidebar-right" style="text-align: right; border: 0px; background-color: #fff;">
        <form id="volsForm" action="{{ path('FrontendWebBundle_vols_store') }}" method="post">
            <input type="hidden" id="vols-departue" name="vols[departure]" value="" />
            <input type="hidden" id="vols-departue" name="vols[return]" value="" />
            <input type="submit" value="{{ 'Send your vols'|trans }}" class="button" />
        </form>
    </div>      
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/jquery-1.6.2.min.js") }}"></script>
    <script src="{{ asset("js/jquery-ui-1.8.16.custom.min.js") }}"></script>

    <script>
        $('.item').click(function() {
            // Change color of selected vol
            $('.item').css('background-color', '#FFF');
            $('.item .price').css('color', '#000');

            $(this).css('background-color', '#FF4242');
            $(this).find('.price').css('color', '#FFF');

            // Show details in left sidebar
            block = '#vols-details-' + $(this).attr('id');
            $('.vols-details').html($(block).html());

            // Put value of selected item to form
            $('#vols-departue').val($(this).attr('id').replace('item-', ''));
            
            // Print total price
            price_adults = parseInt($('.vols-details').find('.adults-price').text());
            number_adults = parseInt($('.number-adults').text());
            price_children = parseInt($('.vols-details').find('.children-price').text());
            number_children = parseInt($('.number-children').text());
            price_babies = parseInt($('.vols-details').find('.babies-price').text());
            number_babies = parseInt($('.number-babies').text());
            
            $('.price-adults').html(price_adults);
            $('.price-children').html(price_children);
            $('.price-babies').html(price_babies);
            
            $('.total-adults').html(price_adults*number_adults);
            $('.total-children').html(price_children*number_children);
            $('.total-babies').html(price_babies*number_babies);
            
            $('.total').html(price_babies*number_babies + price_children*number_children + price_adults*number_adults);
        });
        
        $('#volsForm').submit(function() {
            var val = $('#vols-departue').val();
            if (val == '') {
                alert('{{ 'Choose a vols'|trans }}');
                return false;
            }

            return true;
        });
    </script>
{% endblock %}