{% extends "FrontendWebBundle::layout.html.twig" %}

{% block content %}
<div class="content">
    <div class="sidebar-left">
        <div class="box">
            <div class="title">{{ 'Details'|trans }}</div>
            <div class="vols-details">

            </div>
        </div>

        <div class="box">
            <div class="title">{{ 'Details return'|trans }}</div>
            <div class="vols-return-details">

            </div>     
        </div> 
    </div>
        
    <div class="sidebar-right">
        <div class="airport-infos">
            {{ search.airportDeparture.aeroport }}
            -
            {{ search.airportArrival.aeroport }}
        </div>
        <div class="list-results">
            <div class="previous-item"><<</div>            
            {% for vols in departure %}
                {% include 'FrontendWebBundle:Search:item.html.twig' %}
            {% endfor %}
            <div class="next-item">>></div>
        </div>
    </div>

    <div class="sidebar-right" style="margin-top: 10px;">
        <div class="airport-infos">
            {{ search.airportArrival.aeroport }}
            -
            {{ search.airportDeparture.aeroport }}
        </div>
        <div class="list-results">
            <div class="previous-return-item"><<</div>
            {% for vols in arrival %}
                {% include 'FrontendWebBundle:Search:item_return.html.twig' %}
            {% endfor %}
            <div class="next-return-item">>></div>
        </div>    
    </div>        
        
    <div class="sidebar-right" style="margin-top: 10px; border: 0px;">
        <table class="table">
            <tr>
                <th>Passagers</th>
                <th>Nombre</th>
                <th>Prix</th>
                <th>Total</th>
            </tr>
            {% for passager_infos in list_passagers %}
            <tr>
                <td>{{ passager_infos['type'] }}</td>
                <td class="number-{{ passager_infos['type'] }} number">{{ passager_infos['number'] }}</td>
                <td class="price-{{ passager_infos['type'] }} number"></td>
                <td class="total-{{ passager_infos['type'] }} number"></td>
            </tr>                
            {% endfor %}            
        </table>
    </div>    
    <div class="sidebar-right" style="text-align: right; border: 0px; background-color: #fff;">
        <label>TOTAL: <span class="total"></span></label>
    </div>        
    <div class="sidebar-right" style="text-align: right; border: 0px; background-color: #fff;">
        <form id="volsForm" action="{{ path('FrontendWebBundle_vols_store') }}" method="post">
            <input type="hidden" id="vols-departue" name="vols[departure]" value="" />
            <input type="hidden" id="vols-return" name="vols[return]" value="" />
            <input type="submit" value="{{ 'Send your vols'|trans }}" class="button" />
        </form>
    </div>      
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/jquery-1.6.2.min.js") }}"></script>
    <script src="{{ asset("js/jquery-ui-1.8.16.custom.min.js") }}"></script>

    <script>
        function printVolsPrice() {
            // Print total price
            price_adults = parseInt($('.vols-details').find('.adults-price').text());
            price_adults_return = parseInt($('.vols-return-details').find('.adults-price').text());
            number_adults = parseInt($('.number-adults').text());
            
            price_children = parseInt($('.vols-details').find('.children-price').text());
            price_children_return = parseInt($('.vols-return-details').find('.children-price').text());
            number_children = parseInt($('.number-children').text());
            
            price_babies = parseInt($('.vols-details').find('.babies-price').text());
            price_babies_return = parseInt($('.vols-return-details').find('.babies-price').text());
            number_babies = parseInt($('.number-babies').text());
            
            $('.price-adults').html(price_adults_return + price_adults);
            $('.price-children').html(price_children_return + price_children);
            $('.price-babies').html(price_babies_return + price_babies_return);
            
            $('.total-adults').html((price_adults_return + price_adults)*number_adults);
            $('.total-children').html((price_children_return + price_children)*number_children);
            $('.total-babies').html((price_babies_return + price_babies_return)*number_babies);
            
            $('.total').html(
                (price_adults_return + price_adults)*number_adults + 
                (price_children_return + price_children)*number_children + 
                (price_babies_return + price_babies_return)*number_babies
            );            
        }
        
        function slider(obj, currentDate, action, isReturn) {
            var param = currentDate +'|'+ action +'|'+ isReturn;
            $.ajax({
               type: "GET",
               url: "{{ path('FrontendWebBundle_search_result_ajax') }}",
               data: "data=" + param,
               success: function(msg){
                   if (action=="NEXT") {
                        obj.parent().children("div").next("div:first").fadeOut("slow").delay(100).remove();
                        obj.before(msg);
                    } else {
                        obj.parent().children("div:last").prev().fadeOut("slow").delay(100).remove();
                        obj.after(msg);
                    }
                    
               }
             });
        }               
        
        {% include 'FrontendWebBundle:Search:item_js.html.twig' %}
        
        $('.item:first').trigger('click');        
        $('.item-return:first').trigger('click');        
        
        // Event of next/previous item
        $('.next-item').click(function(){
            slider($(this), $(this).prev().find('.title').html(), 'NEXT', 0);
        });
        $('.previous-item').click(function(){
            slider($(this), $(this).next().find('.title').html(), 'PREVIOUS', 0);
        });
        $('.next-return-item').click(function(){
            slider($(this), $(this).prev().find('.title').html(), 'NEXT', 1);
        });
        $('.previous-return-item').click(function(){
            slider($(this), $(this).next().find('.title').html(), 'PREVIOUS', 1);
        });
        

        // Event submit
        $('#volsForm').submit(function() {
            var val = $('#vols-departue').val();
            if (val == '') {
                alert('{{ 'Choose a vols'|trans }}');
                return false;
            }

            return true;
        });
    </script>
{% endblock %}