{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block content %}
<div id="content">
    <h1>Client list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Nationalite</th>
                <th>Paysresidence</th>
                <th>Gsm</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pager %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titre }}</td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.prenom }}</td>
                <td>{{ entity.nationalite }}</td>
                <td>{{ entity.paysResidence }}</td>
                <td>{{ entity.gsm }}</td>
                <td>{{ entity.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('client_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('client_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>{{ pager_pagination(pager, 'BackendCoreBundle:Pager:sliding.html.twig')|raw }} </p>
    <ul>
        <li>
            <a href="{{ path('client_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
</div>
{% endblock %}