<h1>Vols list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Datedepart</th>
            <th>Datearive</th>
            <th>Heuredepart</th>
            <th>Heurearivee</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('vols_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.dateDepart|date('Y-m-d H:i:s') }}</td>
            <td>{{ entity.dateArive|date('Y-m-d H:i:s') }}</td>
            <td>{{ entity.heureDepart }}</td>
            <td>{{ entity.heureArivee }}</td>
            <td>{{ entity.active }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('vols_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('vols_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('vols_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
