{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block content %}
<div id="content">
<h1>Vols list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>{{ pager_sort('Id', 'v.id')|raw }}</th>
            <th>{{ pager_sort('Datedepart', 'v.dateDepart')|raw }}</th>
            <th>{{ pager_sort('Datearive', 'v.dateArive')|raw }}</th>
            <th>{{ pager_sort('Heuredepart', 'v.heureDepart')|raw }}</th>
            <th>{{ pager_sort('Heurearivee', 'v.heureArivee')|raw }}</th>
            <th>{{ pager_sort('Active', 'v.active')|raw }}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in pager %}
        <tr>
            <td><a href="{{ path('vols_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.dateDepart|date('Y-m-d') }}</td>
            <td>{{ entity.dateArive|date('Y-m-d') }}</td>
            <td>{{ entity.heureDepart|date('H:i:s') }}</td>
            <td>{{ entity.heureArivee|date('H:i:s') }}</td>
            <td>{{ entity.active }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('vols_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('vols_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p>{{ pager_pagination(pager, 'BackendCoreBundle:Pager:sliding.html.twig')|raw }}</p>
<ul>
    <li>
        <a href="{{ path('vols_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
    
        
</div>
{% endblock %}
